@{
    ViewData["Title"] = "Home";
}
<div id="app">
    <div class="row">
        <div class="col">
            <p><a href="/swagger" target="_blank">API Documentation (Swagger)</a></p>
            <p>Enter a first or last name to search for a person. Searching without a query will return all people.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" v-model="query" />
                <div class="input-group-append">
                    <button class="btn btn-primary" v-on:click="search">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section v-if="errored">
                <p>Error occurred.</p>
            </section>
            <section v-else>
                <div class="text-center" v-if="loading"><i class="fa fa-spinner fa-spin" style="font-size:72px; color: blue"></i></div>
                <div v-else
                     v-for="person in people">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <img width="200" height="200" :src=person.photo />
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title">{{ person.firstName }} {{ person.lastName }}</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Age: {{ person.age }}</h6>
                                            <p class="card-text">
                                                {{ person.street }} <br />
                                                {{ person.city }}, {{ person.state}} {{ person.postalCode }}
                                            </p>
                                        </div>
                                        <div class="col">
                                            <h5>Interests</h5>
                                            <p class="card-text">{{ person.interests }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>